/* 全局样式表 */

html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 1000px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}