<template>
  <div class="pageLogin">
    <div class="loginCon">
      <div class="loginLeft">
        <div class="imgCon">
          <img src="../assets/img/logo.png" alt />
        </div>
        <div class="loginTitle">Vue后台管理系统</div>
      </div>
      <div class="loginRight">
        <div class="titleCon">
          <img src="../assets/img/gologin.png" alt />
          <span>用户登录</span>
        </div>
        <div>
          <form>
            <div class="writeInfo">
              <img src="../assets/img/login.png" alt />
              <input type="text" placeholder="账户" v-model="userName" />
            </div>
            <div class="writeInfo">
              <img src="../assets/img/password.png" alt />
              <input type="password" placeholder="密码" v-model="password" />
            </div>
            <div class="writeInfo" @click="login">登录</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userName: "admin",
      password: "admin"
    };
  },
  methods: {
    login() {
      if (this.userName == "admin" && this.password == "admin") {
        localStorage.setItem("islogin", 1); // 指定登录状态
        this.$router.push("/index");
      } else {
        //弹框提示
        this.$message({
          showClose: true,
          message: "用户名或密码错误！",
          type: "error"
        });
      }
    }
  }
};
</script>

<style scoped>
.pageLogin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("~@/assets/img/loginbg.png");
}
.loginCon {
  display: flex;
  width: 900px;
  height: 530px;
  background-color: #fff;
  border-radius: 20px;
}
.loginLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 425px;
  background: url("~@/assets/img/logobg.png");
}
.loginRight {
  height: 100%;
  width: 474px;
}
.loginTitle {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
  margin-top: 40px;
}
.titleCon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 68px 0;
}
.titleCon span {
  font-size: 34px;
  font-weight: 100;
  line-height: 60px;
  margin-left: 20px;
}
.el-row {
  margin-bottom: 20px;
}
.writeInfo {
  width: 355px;
  height: 50px;
  background: #dddd;
  border-radius: 50px;
  margin: 0 auto 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.writeInfo:last-child {
  line-height: 50px;
  background-color: #de6262;
  font-size: 28px;
  color: #fff;
  letter-spacing: 10px;
  cursor: pointer;
}
.writeInfo img {
  width: 33px;
  height: 34px;
  margin: 0 20px;
}
.writeInfo input {
  height: 90%;
  width: 90%;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  padding-left: 2px;
  background: transparent;
}
</style>