<template>
  <div class="welcone">
    welcome
  </div>
</template>

<script type="text/javascript">
export default {
  data() {
    return {};
  }
};
</script>

<style lang="less" scoped>
.welcone {
  height: 100%;
  background: url("~@/assets/img/loginbg.png") no-repeat center;
  background-size: 100%;
}
</style>
